h1 {
color: black;
}

.nav-fix{
position: fixed;
margin-top: 0px;
}


.head-color{
background-color: #DC8D55 !important;

}



.menu{
width: 150px;
height: auto;

float: right;

top: 110px;
right: 0;
margin-top: 80px;
padding-right: 8px;
padding: 10px;
text-size: 30px;

}

.menu-one{
background-color: #E0A57C !important;
margin-top: 5px;
margin-bottom: 5px;
padding:10px;



}



.ctr{
display: inline;
}

.head-container{
width: 100%;
display: inline-block;
height: 80px;
}


.carousel{
margin-top: 20px;
margin-right: auto;
margin-left: auto;
}


.container-form{
margin-top: 10em;
padding: 0.6em;
background-color: #DC8D55;
width: 26%;


}

.mt-20{
margin-top: 20px;}


.btn-submit {
background-color: 	#956542 !important;
color: black;
border: none;}

.form-control{
margin-bottom: 0.5em;}

.font-weight-bold{
font-weight: 500 !important;}

.img-thumbnail{
width: 80px;
height: 80px;
}

.text-black{
color: black;
}

p{
text-size: 17px;
}

.bg-none{
background-color: rgba(0, 0, 0, 0);
border: none;
}
.img25x25{
height: 30px;
weight: 30px;

}

.like{
float: right;
margin-top:0.8%;


}


.fixed-top{
}
.ml-10{
margin-left: 10px;}

.post-img{
width: 100%;
}

.content{
width: 700px;
height:auto;
margin-left: auto;
margin-right: auto;
margin-top: 20px;


}

.post{
text-align: justify;
font-family: "Lucida Console", Monaco, monospace;
margin-left: auto;
margin-right: auto;
margin-top: 20px;
width: 700px;
height: auto;
background-color: rgba(224, 165, 124, 0.7);
color-text: black; }

.content p{
padding: 7px;}

.p-3 h1{
padding-left: 50px;}

.head-text{
font-family: "Lucida Console", Monaco, monospace;
weight: 200px;}

h3{
font-family: "Lucida Console", Monaco, monospace;
padding-right: 7px;
padding-top: 7px;
padding-left: 7px;
padding-bottom: 15px;
}

.nav-link{
color: black;
}

.head-post{




}

.profile-mini{
float: right;
position: relative;
margin-left: 58.3%;

}

h2{
font-family: "Lucida Console", Monaco, monospace;
background-color: #E0A57C !important;


}
.recommendation-posts{
height:auto;
background-color:  rgba(224, 165, 124, 0.7);
margin-top:15px;


}

.recommendation-img{
width: 110px;
height: 110px;
}

.recommendation-post{
margin-left: 12.5px;
margin-right: 12.5px;
margin-top: 12.5px;
margin-bottom: 12.5px;
}

.recommendation-people{
float: left;
margin-top: 5px;
margin-bottom: 5px;


padding:10px;
background-color: rgba(224, 165, 124, 0.7);
}
.recommendation-peoples{

margin-left: 10px;
float: left;
height: auto;
margin-top:80px;}

.date {
    color: #828282;
}

.post-form textarea, .post-form input {
    width: 100%;
}
