{% extends 'baseSabina.html' %}
{% load static %}

{% block content %}
    <h1>WoW.facts();</h1>
    <h2>Main page </h2>

    {% if not posts %}
        <b>Статьи не найдены</b>
    {% else %}
        {% for obj in posts %}
            <div class="post">
            <div class="container-fluid no-padding">
                {{ obj.text }}
            </div>
            {% if user.is_authenticated %}
                <button class="btn btn-default likes-button" type="button" data-ansid="{{ answer.id }}">
                    like | <strong id="like_count">{{ obj.likes }}</strong>
                </button>

            {% endif %}
            <a href="{{ obj.get_absolute_url }}"><b>{{ obj.title }}</b></a>
            <img src="{{ obj.image.url }}" alt="">
            <p>{{ obj.content|truncatechars:70 }}</p>
            <span>{{ obj.timestamp }}</span>
            <br><br><br>
        {% endfor %}
    {% endif %}

{% if posts.has_previous %}
    <a href="?page={{ posts.previous_page_number }}">Назад</a>
{% endif %}
<span>{{ posts.number }} / {{ posts.num_pages }}</span>
{% if posts.has_next %}
    <a href="?page={{ posts.next_page_number }}">Вперед</a>
{% endif %}
</div>
{% endblock %}