{% extends 'partial/baseD.html' %}
{% load static %}

{% block content %}
    <h1>WoW.facts();</h1>
    <h2>Main page </h2>

    {% if not posts %}
        <b>Статьи не найдены</b>
    {% else %}
        {% for obj in posts %}
            <div class="post">
            <div class="container-fluid no-padding">
                {{ obj.text }}
            </div>

            {% if user.is_authenticated %}

                <a href="{{ obj.get_absolute_url }}"><b>{{ obj.title }}</b></a>
                {% if obj.image %}
                    <p><img src="{{ obj.image.url }}"></p>
                {% else %}
                    <p></p>
                {% endif %}
                <p>{{ obj.content|truncatechars:70 }}</p>
                <p class="text-black">Likes: {{ obj.like }}</p>
                <hr>
                <form action="{{ obj.id }}/add_like" method="post">
                    {% csrf_token %}
                    <input type="hidden" value="{{ obj.id }}" id="post_id" name="post_id">
                    <input class="btn btn-info" type="submit" value="Like">
                </form>
                <span>{{ obj.timestamp }}</span>
                <br><br><br>
                <p>by: {{ obj.author.username }}</p>
            {% endif %}
        {% endfor %}

    {% endif %}

{% if posts.has_previous %}
    <a href="?page={{ posts.previous_page_number }}">Назад</a>
{% endif %}
<span>{{ posts.number }} / {{ posts.num_pages }}</span>
{% if posts.has_next %}
    <a href="?page={{ posts.next_page_number }}">Вперед</a>
{% endif %}
</div>
    <h4>Возможно, вас заинтересует:</h4>
        <div class=" recommendation-posts d-flex flex-nowrap">
            <div class="card recommendation-post ">
               <a href="{{ obj.get_absolute_url }}"><b>{{ obj.title }}</b></a>
                {% if obj.image %}
                    <p><img src="{{ obj.image.url }}"></p>
                {% else %}
                    <p></p>
                {% endif %}
                <p>{{ obj.content|truncatechars:70 }}</p>
            </div>

{% endblock %}