{% extends 'partial/baseD.html' %}
{% block head %}
<title>{{ post.title }}</title>
<meta name="description" content="{{ post.description }}"/>
<meta name="keywords" content="{{ post.keywords }}"/>
{% endblock %}

{% block content %}
  {% if post.visible %}
    <h1>{{ post.title }}</h1>
    <img src="{{ post.image.url }}" alt="">
    <p>{{ post.content }}</p>
       <div class="container-fluid no-padding">
                {{ post.text }}
            </div>

            {% if user.is_authenticated %}
                 <form action="{{ obj.id }}/add_like" method="post">
                    {% csrf_token %}
                    <input type="hidden" value="{{ obj.id }}" id="post_id" name="post_id">
                    <input class="btn btn-info" type="submit" value="Like">
                </form>
            {% endif %}

  {% else %}
    <p>Страница не найдена</p>
  {% endif %}
{% endblock %}