{% extends 'partial/baseD.html' %}

{% block content %}
    <h3>Посты пользователя {{ user.username }}:</h3>
    {% if posts == False %}
        Пока не создано ни одного поста.
    {% else %}
        {% for post in posts %}
            {% if post.author == user %}
                <div class="post">
                <div class="like">
                <form action="{{ obj.id }}/add_like" method="post">
                    {% csrf_token %}
                    <input type="hidden" value="{{ obj.id }}" id="post_id" name="post_id">
                    <input class="btn btn-info" type="submit" value="Like">
                </form>
            {% endif %}
        </div>
        <div class="date">
            {{ post.published_date }}
        </div>
        <h1><a href="{% url 'single' id=post.id %}" class="text-black">{{ post.title }}</a>
        </h1>
        <p>{{ post.description|linebreaksbr }}</p>
        {% if post.image %}
            <p><img src="{{ post.image.url }}" alt=""></p>
        {% endif %}
        <p>{{ post.keywords }}</p>
        <p>{{ post.author }}</p>

        </div>
        {% endfor %}
    {% endif %}
{% endblock %}
